* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
  background-color: rgb(82, 82, 82);
  color: azure;
  font-weight: bold;
  padding-bottom: 1em;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}
.header h1 {
  padding-left: 1em;
  padding-top: 1em;
  font-weight: bold;
  font-size: larger;
}
.header p {
  padding-left: 1em;
  padding-top: 0.5em;
}
#navBar {
  background-color: rgb(104, 50, 83);
  border-bottom: 2px solid black;
}
#navButton {
  background-color: rgb(241, 247, 248);
  color: darkslategray;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
main {
  background-image: linear-gradient(gray, rgb(94, 92, 92));
  box-sizing: border-box;
}
footer {
  background-color: rgb(82, 82, 82);
  color: azure;
  font-size: medium;
  text-align: center;
  padding: 1em;
}
img {
  height: 400px;
  width: 400px;
  object-fit: contain;
}
.left {
  margin-left: 1em;
  margin-top: 1em;
}
