* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
  background-color: rgb(82, 82, 82);
  color: azure;
  font-weight: bold;
  padding-bottom: 1em;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}
.header h1 {
  padding-left: 1em;
  padding-top: 1em;
  font-weight: bold;
  font-size: larger;
}
.header p {
  padding-left: 1em;
  padding-top: 0.5em;
}
#navBar {
  background-color: rgb(104, 50, 83);
  border-bottom: 2px solid black;
}
#navButton {
  background-color: rgb(241, 247, 248);
  color: darkslategray;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
main {
  background-image: linear-gradient(gray, rgb(94, 92, 92));
  box-sizing: border-box;
}
footer {
  background-color: rgb(82, 82, 82);
  color: azure;
  font-size: medium;
  text-align: center;
  padding: 1em;
}
#brazil {
  background-image: url("../images/brazil-map.jpg");
}
#bangladesh {
  background-image: url("../images/bangladesh-map.jpg");
}
#china {
  background-image: url("../images/china-map.jpg");
}
#india {
  background-image: url("../images/");
}
#indonesia {
  background-image: url("../images/indonesia-map.jpg");
}
#mexico {
  background-image: url("../images/mexico-map.jpg");
}
#nigeria {
  background-image: url("../images/nigeria-map.jpg");
}
#pakistan {
  background-image: url("");
}
#ukraine {
  background-image: url("../images/ukraine-map.jpeg");
}
#usa {
  background-image: url("../images/usa-map.jpg");
}
